<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.logonrm.carros">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".ui.Login.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".ui.novouser.NovoUserActivity"
            android:label="@string/title_activity_novo_user" />
        <activity
            android:name=".ui.novocarro.NovoCarroActivity"
            android:label="@string/title_activity_novo_carro"/>

        <activity
            android:name=".ui.listacarros.ListaCarroActivity"
            android:label="@string/title_activity_lista_carro"/>
        <activity
            android:name=".ui.findplaca.FindByPlacaActivity"
            android:label="@string/title_activity_find_carro"
            />
        <activity
            android:name=".ui.findplaca.FindByPlacaEditActivity"
            android:label="@string/title_activity_edit_carro"/>
        <activity
            android:name=".ui.deleteplaca.DeleteByPlacaActivity"
            android:label="@string/title_activity_delete_carro"
            />
    </application>

</manifest>